{% extends 'base.html.twig' %}

{% block title %}Hello ReferanceController!{% endblock %}

{% block body %}
    <section class="ftco-section testimony-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-8 text-center heading-section ftco-animate">
                    <h2 class="mb-4"></h2>
                    <p>Nous ont fait confiance , de par les activités précedentes en consulting de Mr Fayçal LISSILAA ,
                        et depuis la création de FL CONSEIL :</p>
                </div>
            </div>
            <div class="row ftco-animate justify-content-center">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel">
                        <div class="item">
                            <div class="testimony-wrap d-flex">
                                <div class="user-img" style="background-image: url(images/person_1.jpg)">
                                </div>
                                <div class="text pl-4">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                    <p>Industrie Automobile</p>
                                    <p class="name">Autoliv Steering Wheels Europe ( Tunisie , France , Roumanie )
                                    </p><p> AVO Carbon ( Tunisie )
                                    </p><p>    DQS Maghreb ( Tunisie et Etranger )
                                    </p><p> TUNELEC ( Tunisie )
                                    </p><p> Grupo Antolin ( Maroc )</p>
                                    <span class="position"></span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap d-flex">
                                <div class="user-img" style="background-image: url(images/person_2.jpg)">
                                </div>
                                <div class="text pl-4">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                    <p>Industrie ferroviaire</p>
                                    <p class="name">Alstom Transport Deutschland ( Allemagne )</p>
                                    <span class="position"></span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap d-flex">
                                <div class="user-img" style="background-image: url(images/person_2.jpg)">
                                </div>
                                <div class="text pl-4">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                    <p>Industrie aéronautique </p>
                                    <p class="name">Aeroprotec Tunisie
                                    </p><p>Demat ( Tunisie , en poste de Directeur Qualité )</p>
                                    <span class="position"></span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap d-flex">
                                <div class="user-img" style="background-image: url(images/person_2.jpg)">
                                </div>
                                <div class="text pl-4">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                    <p>Industrie de construction métallique </p>
                                    <p class="name">Secomet ( Tunisie ) </p>
                                    <span class="position"></span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap d-flex">
                                <div class="user-img" style="background-image: url(images/person_2.jpg)">
                                </div>
                                <div class="text pl-4">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                    <p>Industrie de signalétique</p>
                                    <p class="name">Soran Signalétique ( Tunisie )  </p>
                                    <span class="position"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

{% endblock %}
