{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image:url(images/bg_1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-start"
                     data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate">
                        <span class="subheading">Welcome to Consolve</span>
                        <h1 class="mb-4">We Are The Best Consulting Agency</h1>
{#
                        <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Our Services</a></p>
#}
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url(images/bg_2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-start"
                     data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate">
                        <span class="subheading">Todays Talent, Tommorow Success</span>
                        <h1 class="mb-4">We Help to Grow Your Business</h1>
{#
                        <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Our Services</a></p>
#}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {##}
{% endblock %}
